<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Defining an interface preference inside a specific area -->
    <preference for="GamaAcademy\ModuleConfigDemo\Model\PenInterface" type="GamaAcademy\ModuleConfigDemo\Model\PenXpto" />

    <preference for="Magento\Catalog\Block\Product\View" type="GamaAcademy\ModuleConfigDemo\Block\Product" />

</config>
