<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GamaAcademy\RestApiDemo\Api\DocBlockInterface" type="GamaAcademy\RestApiDemo\Service\DocBlock"/>
    <preference for="GamaAcademy\RestApiDemo\Api\NoDocBlockInterface" type="GamaAcademy\RestApiDemo\Service\NoDocBlock"/>
</config>
